* {
    box-sizing: border-box;
/*    background-color: hsl(100 100% 50% / 0.1);
    z-index: -1;
    outline: 3px solid orange;*/
    font-size: 16px;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
}

.left {
    background-image: url(images/oscar-keys-10sTDZAj5sA-unsplash.jpg);
    background-size: cover;
    padding-top: 10rem;
    text-align: center  ;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 15%;
    background-color: hsl(100 100% 50% / 0.5)
}

.copyright  {
    color: aliceblue;
    margin-top: auto;
    padding: 0.5rem;
    text-align: center;
}

.right {
    height: 100%;
    display: flex;
    padding: 2rem;
}

.form-container {
    background-color: antiquewhite;
}

.form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
}
