* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: hsl(100 100% 50% / 0.1);
    z-index: -1;
    outline: 3px solid orange;*/
    font-size: 16px;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    align-items: center;
}

.left {
    background-image: url(images/oscar-keys-10sTDZAj5sA-unsplash.jpg);
    background-size: cover;
    padding-top: 10rem;
    text-align: center  ;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    height: 120px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 75%, 0.5)
}

.logo {
    height: 100%;
    object-fit: contain;
}

.logo-text {
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.copyright  {
    color: white;
    margin-top: auto;
    padding: 0.5rem;
    text-align: center;
}

.right {
    height: 100vh;
    width: 100%;
    display: flex;
}

.top-section {
    padding: 10rem 2rem 2rem 2rem; 
    background-color: hsla(0, 0%, 85%, 0.1);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.text {
    font-size: 1.2rem;
    font-weight: bold;
}

.text-italic {
    font-size: 1.2rem;
}

.subtext {
    font-size: 1.2rem;
    padding: 2rem 0 0;
}

.form-background {
    padding-left: 2rem;
    box-shadow:  0 4px 2px -2px lightgray;
}

.form-title {
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.form-wrapper {
    display: flex;
    width: 75%;
    justify-content: left;
}

.input-wrapper {
    padding-right: 2rem;
}

label {
    font-size: 0.9rem;
    font-weight: bold;
    color: hsla(0, 0%, 23%, 0.9);
}

input {
    margin: 0.5rem 0 2rem 0;
}

input:focus {
    box-shadow: 0 10px 5px -5px lightgray;
}


.submit {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.create-account-button {
    width: 25%;
    padding: 1rem;
    font-weight: bold;
    color: white;
    background-color: lightblue;
    border-radius: 5px;
}
